body{
    height:100%;
    width: 100%;
    background: url("../images/activityBg.png");
    background-size: 100% 100%;
}
#wrapper{
    bottom: 49px;
}
.activityBg{
    width: 100%;
}
.mainContent{
    position: absolute;
    top: 2em;
}
.mainContent p{
    text-align: center;
}
.mainContent p:nth-child(2){
    margin-top: 2em;
}
/*使用说明*/
.activityText{
    width: 100%;
}
.activityText h1{
    padding-left: 3%;
    color:#c9fcdc;
    font-weight: normal;
    line-height: 30px;
}
.description{
    width:94%;
    margin:0 auto 1em auto;
    font-size:16px;
    color:#c9fcdc;
    line-height:26px;
}
.description li{
    clear: both;
}

.description span{
    font-size:14px;
    width:94%;
    float:right;
    text-align:left;
}