body{
    background: #f5f8f9;

}
#wrapper{
    top: 0;
}
.balance {
    height: 3.5em;
    width: 100%;
    background: #ffffff;
    border-bottom: solid 1px #bdbdbd;
    text-align: center;
    line-height: 3.5em;
    color: #4d4d4d;
}

.balance span {
    padding-left: 1em;
}
.chargelogo{
    text-align:center;
    margin:2em 0;
}
.chargemoney{
    width:90%;
    border: solid 1px #e0e0e0;
    margin:0 auto;
    background: #ffffff;
    margin-top: 20px;
}
.chargemoney p{
    color:#787878;
    font-size:14px;
    padding-left:4%;
    padding-top: 1em;
}
.charge {
    width: 96%;
    background: #ffffff;
    border-bottom: solid 1px #e0e0e0;
    padding-left: 4%;
}
.chargeText{
    font-size:40px;
    margin-top: 0.7em;
    display: block;
    float: left;
    color: #333;
}
.charge  input {
    width: 86%;
    outline: none;
    border: none;
    padding: 25px 0;
    font-size: 50px;
}
.money {
    width: 100%;
    height: 3em;
}
.money ul li {
    width: 25%;
    height: 3em;
    border-right: solid 1px #e1e1e1;
    color: #4ea8b1;
    float: left;
    text-align: center;
    line-height: 3em;
    vertical-align: middle;
    box-sizing: border-box;
}
.btn {
    border: none;
    background: none;
    text-align: center;
    outline: none;
    width: 100%;
    font-size: 1em;
    line-height: 2.2em;
    color: #000;
}
.fivehundred{
    border:none!important;
}

/*
.high {
     background: url("../images/formcheck.png") no-repeat center;
     background-size: 100% 100%;
}
 */

#btn {
    border: none;
    width: 90%;
    height:40px;
    line-height: 45px;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    margin: 2em 5%;
    outline: none;
    background: #4bc1cd;
    -webkit-user-modify: read-write-plaintext-only;

}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #d0cfcf;
    font-size:14px;
    font-family: "microsoft yahei";
    line-height:65px;
}