#wrapper{
    top:0;
}
#content p{
    text-align: center;
    line-height: 8em;
    height: 8em;
    width: 100%;
    background: #fff;
    border-top:solid 1px #e0e0e0;
    border-bottom:solid 1px #e0e0e0;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 14px;
}
#content p span:nth-child(2){
    font-size:35px;
    color: #05a687 ;
}
#btn {
    border: none;
    width: 90%;
    height:40px;
    line-height: 45px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    margin: 2em 5%;
    outline: none;
    background: #4bc1cd;
}
#btn:active{
    background: #4ea8b1;
}