body{
    background:#f5f8f9;
}
.parkInfo{
    height: 7em;
    width: 100%;
    background: #FFFFFF;
    border-bottom: solid 1px #E0E0E0;
    border-top: solid 1px #E0E0E0;
    text-align: center;
    margin-top: 1em;
}
.parkInfo h1{
    font-weight: normal;
    line-height: 45px;
    color: #333333;
    padding-top: 1em;
}
.parkInfo p{
    color: #333333;
    font-size: 12px;
}
.parkInfo p span:first-child{
    font-size: 27px;
    color:#fd5958;
}
.parkInfo p span{
    margin: 0 1px;
}
.payment{
    line-height: 40px;
    height: 40px;
    color: #707173;
    font-size: 14px;
    padding-left: 1em;
    border-bottom: solid 1px #E0E0E0;
}
.useBalance{
    background: #fff;
    border-bottom: solid 1px #E0E0E0;
    line-height:60px;
    height:60px;
    padding-left:10px;
    position: relative;
}
.useBalance span{
    font-size:15px;
    color: #333333;
}
.useBalance b{
    font-weight: normal;
    color: #cccccc;
    font-size: 13px;
    padding-left: 3px;
}
.useBalance span img{
    width: 50px;
    margin: 16px 10px;
}

.balance{
    position:absolute;
    right:5%;
    margin-top:20px;
}
input[type="checkbox"]{
    opacity: 0;
}
input[type="checkbox"]:checked  + label {
    background: url("../../common/images/checked.png") no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 100% 100%;
}
input[type="checkbox"]+ label {
    background: url("../../common/images/uncheck.png") no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 100% 100%;
}



.surePay {
    border: none;
    width: 90%;
    height:40px;
    line-height: 43px;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    margin:8em 5% 1em 5%;
    outline: none;
    background: #4bc1cd;
    text-align: center;
    letter-spacing: 0.5px;
}
.surePay:active{
    background: #4ea8b1;
}