.loading{
    position: relative;
    top: -10px;
    z-index: -9999;
}
.loading p{
    text-align: center;
}
.roates {
    width:22%;
    height:48%;
    margin:0 auto;
    background:url(../images/loading_refresh.png) no-repeat;
    background-size: 100% 100%;
    z-index: 99999;
    position: absolute;
    right: 28%;
    bottom: 13%;
    -moz-animation: spin 1s linear;
    -webkit-animation: spin 1s linear;
    -ms-animation: spin 1s linear;
    -o-animation: spin 1s linear;
    animation: spin 1s  linear;/*infinite*/
}
.loading b{
    display:block;
    position:absolute;
    color: #ffffff;
    bottom: 26%;
    right: 32%;
    font-size: 3vw;
    font-family: 'Microsoft YaHei';
}
.loading b span:first-child{
    font-size: 7vw;
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*把背景图切割成三块的样式*/
/*
.loading{
    background: url("../images/list_order_circlebg.png");
    background-size: 100% 100%;
    height: 185px;
    width: 94%;
    position: relative;
    margin: 0 auto;
    z-index: -999;
    margin-top: -1.5em;
}
.bfb{
    width:90%;
    bottom: 16px;
    left: 5%;
    position: absolute;
}
.bfb p{
    display: block;
    float:left;
    height:105px;
}
.bfb p:first-child{
    width: 50.48%;
}
.bfb p:nth-child(2){
    width:26.98%;
    position: relative;
}
.bfb p:nth-child(3){
    width: 22.54%;
}
.loading img{
    height:105px;
}

.roates {
    width:85px;
    height:85px;
    display: block;
    margin:0 auto;
    background:url(../images/loading_refresh.png) no-repeat;
    background-size: 100% 100%;
    z-index: 99999;
    position: absolute;
    left:3px;
    bottom: 8px;
    -moz-animation: spin 1s linear;
    -webkit-animation: spin 1s linear;
    -ms-animation: spin 1s linear;
    -o-animation: spin 1s linear;
    animation: spin 1s  linear;!*infinite*!
}
.loading b{
    position: absolute;
    width: 100%;
    !* text-align: center;*!
    left:30px;
    top:42px;
    font-weight: normal;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
}
.loading b span:first-child{
    font-size: 25px;
}
@media screen and (max-width: 320px) {
    .roates {
        width:85px;
        height:85px;
        display: block;
        margin:0 auto;
        background:url(../images/loading_refresh.png) no-repeat;
        background-size: 100% 100%;
        z-index: 99999;
        position: absolute;
        left:-5px;
        bottom: 8px;
        -moz-animation: spin 1s linear;
        -webkit-animation: spin 1s linear;
        -ms-animation: spin 1s linear;
        -o-animation: spin 1s linear;
        animation: spin 1s  linear;!*infinite*!
    }
}*/
