body{
	background:#fff;
    display: none;
}
#wrapper{
    position: absolute;
    z-index: 1;
    top:0;
    bottom:48px;
    overflow: hidden;
    left: 0;
    width: 100%;
}
#wrapper p {
    text-align: center;
    line-height: 4.5em;
    color: #989898;
    font-size: 16px;
}

#wrapper dl{
    width: 90%;
    height: 40px;
    margin: 0 auto;
}

#wrapper dl dt{
    width: 68%;
    height: 38px;
    border-radius: 4px;
    border: solid 1px #4bc1cd;
    float: left;
}
#wrapper dl dt input{
    width: 95%;
    padding-left:5%;
    height: 38px;
    border: none;
    border-radius: 4px;
    font-size:16px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline: none;
}
#wrapper dl dd{
    float: right;
    width: 30%;
}
.inactive_yzm{
	width: 100%;
    height: 40px;
    border-radius: 4px;
    background: #e0e0e0;
    display: block;
    text-align: center;
    line-height: 42px;
    float: right;
    color: #ffffff;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-appearance:none;
}
.active_yzm{
	width: 100%;
    height: 40px;
    border-radius: 4px;
    background: #4bc1cd;
    display: block;
    text-align: center;
    line-height: 42px;
    float: right;
    color: #ffffff;
}
#wrapper p input{
    height: 38px;
    border: solid 1px #4bc1cd;
    border-radius: 4px;
    width: 85%;
    margin: 0 auto;
    padding-left: 5%;
    font-size:16px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #d0cfcf;
    font-size:14px;
}

.determine {
    border: none;
    width: 90%;
    height:40px;
    line-height:40px;
    border-radius: 6px;
    color: #fff;
    font-size: 17px;
    margin: 0 5%;
    outline: none;
    background: #e0e0e0;
}

.determine:active{
    background: #4ea8b1;
}
.citylifeDiv{
	text-align:right;
    display: none;
}
.jrcitylife{
	line-height:70px;
	padding-bottom:0.2em;
	margin-right:5%;
	color:#4bc1cd;
	height:50px;
	border-bottom: solid 1px #4bc4cd;
}



