extends ../layout
block content
    meta(http-equiv="refresh" content="300")
    link(href="/css/myOrder/myOrder.css?rev=@@hash1" rel="stylesheet" type="text/css")
    tjd-modal

    div.bdhb
    div.hb_img
        img(src="/images/myOrder/baiduhongbao.png" alt="" width="320px")

    section.mainSection.wrapper
        div#content
            p.noCurOrderClass
                img(src="/common/images/noOrder.png" alt="" width="120em")
            div.currentOrder.tjdHidden(v-for="order in currentOrders")
                div.monthOrder(v-if="order.parkingType=='1'")
                    p.month_carnumber(v-text="order.carNum")
                    div.delete_cur_order
                        img(src="/images/myOrder/currOrder_btn_delete.png" alt=""  width="45em" v-on:click="showDeleteCurModal(order.parkInfoId)")
                    p.month_parking(v-text="order.parkName")
                    div.month_main
                        p
                            span 进场时间：
                            span(v-text="order.startDateTime")
                        p
                            span 停放时长：
                            span(v-text="order.parkTime" class="parkTime")

                    div.month_money 当前停车费：
                        span(v-text="order.parkAmount")
                        span 元

                div.current(v-if="order.parkingType!='1'")
                    img.currentorder(src="/common/images/list_form_current.png")
                    div.carnumber
                        p(v-text="order.carNum")
                        div.delete_cur_order
                            img(src="/images/myOrder/currOrder_btn_delete.png" alt="" width="45em" v-on:click="showDeleteCurModal(order.parkInfoId)")
                    p.con(v-if="order.parkingType=='2'")
                        span.active 包月订单
                        a
                            img(src="/images/myOrder/list_order_change.png" alt="" width="30em")
                        span 当前订单
                    p.curOrderInTime(v-text="order.startDate")
                    p.pakking(v-text="order.parkName")
                    div.current_main
                        div.current_time
                            p 进场时间：
                                span(v-text="order.startTime")
                            p(:disabled="true") 停放时长：
                            p.lqtime.parkTime(v-text="order.parkTime")
                        div.current_money
                            p(v-if="order.isAccurate=='false'") 预估停车费
                            p(v-if="order.isAccurate=='true'") 当前停车费
                            p.parkmoney
                                span(v-text="order.parkAmount|currency ''")
                                span 元
                    div.parkArea(v-if="order.floorGroup!='' && order.carPort!=''")
                        div.parkAreaDetail
                            img(src="/images/myOrder/parkArea.png")
                            span 停放区域
                            span(v-text="order.floorGroup")
                        div.about
                            img(src="/images/myOrder/parkNumber.png")
                            span 车位编号
                            span(v-text="order.carPort")
                    div.cashmoney(v-if="order.parkType=='4' || order.parkType=='3'")
                        h1 现金支付
                            span (出场时现金支付停车费)
                        div#onoffswitch.onoffswitch
                            input.onoffswitch-checkbox(type="checkbox" name="onoffswitch{{order.parkInfoId}}" id="myonoffswitch{{order.parkInfoId}}" v-model="order.isCash")
                            label.onoffswitch-label(for="myonoffswitch{{order.parkInfoId}}" v-on:click="doCurOrderCashPay(order,$index)")
                                div.onoffswitch-inner
                                    div.onoffswitch-active
                                    div.onoffswitch-inactive
                                div.onoffswitch-switch
                    div.couponybdmain
                        table(v-if="order.ticketAmount!='0' && order.ticketAmount!=null && order.ticketAmount!=undefined")
                            tr
                                td(width="5%")
                                    img(src="/images/myOrder/order_qrcode.png")
                                td(width="65%")
                                    p 商家优惠
                                    p(v-text="order.bindTicketDt")
                                td(width="20%" v-show="order.parkingType!='3'")
                                    em(v-text="order.ticketAmount|currency ''")
                                    span 元
                                td(width="30%" v-show="order.parkingType=='3'")
                                    em 本单全免
                        table(v-if="order.onlinePrePayAmount!='0'")
                            tr
                                td(width="10%")
                                    img(src="/images/myOrder/order_payed.png")
                                td(width="70%")
                                    p 已支付
                                    p(v-text="order.payDt")
                                td(width="20%")
                                    em(v-text="order.onlinePrePayAmount|currency ''")
                                    span 元
                    ul.UsedCoupon(v-if="order.luckyMoneyUrl!='' || order.luckyAmount!='0'")
                        li(v-on:click="go2SelectCoupon(order)" class="rightArrowBase" v-bind:class="{'rightArrow':order.luckyMoneyUrl!=''}")
                            img(src="/images/myOrder/order_coupon.png")
                            优惠券
                            b(v-show="order.selectedCouponId!='none' || order.luckyAmount!='0'")
                                span(v-text="order.luckyAmount|currency ''")
                                span 元
                            b(v-show="order.selectedCouponId=='none'") 不使用优惠券
                    div.clear
                    div.couponbd(v-if="order.isShowAmountLeftZone")
                        p 还需支付:
                            span(v-text="order.amountLeft|currency ''")
                            span 元
                    div(style="height:1px;") &nbsp;
                    div.activity_text
                        p(v-text="order.currentSlogan")
                    div.activity_div(v-show="order.wxCanDiscount=='true' && isWxBrowser")
                        p
                            img(src="/images/myOrder/activityBanner7.png" alt="" width="100%" v-on:click="go2RandomCutRule()")
                        div.activity_switch
                            table
                                tr
                                    td(width="20%") 自动支付
                                    td(width="60%") 使用账户余额与绑定的信用卡自动付款抵扣停车费
                                    td(width="20%")
                                        div.onoffswitch_activity
                                            input.onoffswitch-checkbox_activity#myonoffswitch1(type="checkbox" name="onoffswitch_activity" v-model="order.isOpen")
                                            label.onoffswitch-label_activity(for="myonoffswitch1" v-on:click="doCurOrderAutoPay(order)")
                                                div.onoffswitch-inner_activity
                                                    div.onoffswitch-active_activity
                                                    div.onoffswitch-inactive_activity
                                                div.onoffswitch-switch_activity
                    div.promptlypay.prepay_open_side(v-bind:class="{'disableCurOrderPay':order.isCash==1}" v-on:click="payCurOrder(order)" v-show="order.canPay=='true'")
                p.joyCityDiscount(v-show="order.isShowMicroMovie")
                    img(v-bind:src="order.adverts[0].advertPicUrl" alt="" width="92.5%" onload="loadAdDone()" v-on:click="go2MovieTicket(order)")
            br(v-if="currentOrders.length>0")


            div.toPayOrderListUl.page2_paymentorder.tjdHidden
                div(v-for="order in debtOrders")
                    img.paymentorder(src="/common/images/list_form_repay.png")
                    div.carnumberdhk()
                        p(v-text="order.carNum")
                    div
                        p.payment_time(v-text="order.startDate")
                        p.pakking(v-text="order.parkName")
                    div.paymentmoney_main
                        div.paymentmoney_time
                            p 进场时间：
                                span(v-text="order.startTime")
                            p 出场时间：
                                span(v-text="order.endTime")
                            p 停放时长：
                                span(v-text="order.parkTime")
                        div.paymentmoney_money
                            p 订单金额：
                                span.ddje(v-text="order.parkAmount")
                                span 元
                            p.dhk 待还款：
                            h1
                                span(v-text="order.debt")
                                span 元
                    div.middle(style="display:none;")
                        ol
                            li.joyInfo.oneCent 停车费首小时1分钱
                                span (仅限首单)
                                img.discountPic(src="/common/images/joy_city_check.png")
                    div.couponybdmain
                        table(v-if="order.onlineAmount!=undefined && order.onlineAmount!='0.00' && order.onlineAmount!='0'")
                            tr
                                td(width="10%")
                                    img(src="/images/myOrder/order_payed.png")
                                td(width="70%")
                                    p 已支付
                                    p(v-text="order.onlineAmountDt")
                                td(width="20%")
                                    em(v-text="order.onlineAmount|currency ''")
                                    span 元
                        table(v-if="order.balanceAmount!=undefined && order.balanceAmount!='0.00' && order.balanceAmount!='0'")
                            tr
                                td(width="10%")
                                    img(src="/images/myOrder/order_blc@2x.png")
                                td(width="70%")
                                    p 余额支付
                                    p(v-text="order.balanceAmountDt")
                                td(width="20%")
                                    em(v-text="order.balanceAmount|currency ''")
                                    span 元
                        table(v-if="order.luckyMoney!='0.00' && order.luckyMoney!='0'")
                            tr
                                td(width="10%")
                                    img(src="/images/myOrder/order_coupon.png")
                                td(width="70%")
                                    p 优惠券
                                    p(v-text="order.luckyMoneyDt")
                                td(width="20%")
                                    em(v-text="order.luckyMoney|currency ''")
                                    span 元
                        table(v-if="order.ticketAmount!=undefined && order.ticketAmount!=null && order.ticketAmount!='0.00' && order.ticketAmount!='0'")
                            tr
                                td(width="10%")
                                    img(src="/images/myOrder/order_qrcode.png")
                                td(width="70%")
                                    p 商家优惠
                                    p(v-text="order.ticketAmountDt")
                                td(width="20%")
                                    em(v-text="order.ticketAmount|currency ''")
                                    span 元
                        table(v-if="order.offlineTicket!='0.00' && order.offlineTicket!='0'")
                            tr
                                td(width="10%")
                                    img(src="/images/myOrder/order_qrcode.png")
                                td(width="70%")
                                    p 线下纸质券
                                    p(v-text="order.payDt")
                                td(width="20%")
                                    em(v-text="order.offlineTicket|currency ''")
                                    span 元
                        table(v-if="order.specAmount!='0.00' && order.specAmount!='0'")
                            tr
                                td(width="10%")
                                    img(src="/images/myOrder/order_payed.png")
                                td(width="70%")
                                    p 特殊优惠放行
                                    p(v-text="order.payDt")
                                td(width="20%")
                                    em(v-text="order.specAmount|currency ''")
                                    span 元
                    p.joyInfo.zkh.oneCent(style="display:none;") 实际支付：
                        span.afterDiscount(v-text="order.realPayAmount")
                        span 元
                    div.activity_text(v-bind:class="{'ad_top_border':order.isShowAdTopBorder}")
                        p(v-text="order.debtSlogan")
                    div.promptlypay(v-on:click="pay2PayOrder(order,$event)") 立即还款
            br(v-if="debtOrders.length>0")


        div#scrollWrapper(v-show="isThereHistoryOrders")
            div#scroller
                div.down.pointClass.orderListUl.tjdHidden#thelist
                    p.noHisOrderClass(v-show="isShowNoHisOrders")
                        img(src="http://wx.tingjiandan.com/letter/images/noHistoryOrder.png" alt="" width="120em")
                    p.tcjl(v-show="historyOrders.length>0") 您的上次停车记录
                    div.historyOrder(v-for="order in historyOrders" v-on:click="go2OrderDetail(order.omParkInfoId)")
                        div.history
                            img.already(src="/images/myOrder/order_offstocks.png")
                            p.perfect
                            div.historycarnumber
                                p(v-text="order.carNum")
                                div.delete
                                    img(src="/images/myOrder/currOrder_btn_delete.png" alt="" width="45em" v-on:click="showDeleteHisModal(order,$event,$index)")
                            div
                                p.history_time(v-text="order.startDate")
                                p.historypakking(v-text="order.parkName")
                            div.history_main
                                div.historymain_time
                                    p 进场时间：
                                        span(v-text="order.startTime")
                                    p 出场时间：
                                        span(v-text="order.endTime")
                                    p 停放时长：
                                        span(v-text="order.parkTime")
                                div.history_main_money
                                    p
                                        span(v-text="order.parkAmount")
                                        span 元
                p#pullUp.pullUp.tjdHidden
                    span.pullUpLabel(v-on:touchend="loadMoreHistoryOrders()") 点击加载更多
                        b 历史记录
                    span.pullUpLabel.tjdHidden.historyLoading 查询中。。。
    footer

    script(src='/js/myOrder/pullUpFresh.js?rev=@@hash1')
    script(src='/js/myOrder/myOrder.js?rev=@@hash1')








