//
   Created by liqiang on 2016/10/17.

doctype html
html
    head
        title tttle
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name='viewport',content='width=device-width, initial-scale=1, user-scalable=no, minimal-ui')
        meta(name='apple-mobile-web-app-capable',content='yes')
        meta(name='apple-mobile-web-app-status-bar-style',content='black')
        meta(name='format-detection',content='telephone=no, email=no')
        meta(name='renderer',content='webkit')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        meta(name='HandheldFriendly',content='true')
        meta(name='MobileOptimized',content='320')
        meta(name='screen-orientation',content='portrait')
        meta(name='x5-orientation',content='portrait')
        meta(name='full-screen',content='yes')
        meta(name='x5-fullscreen',content='true')
        meta(name='browsermode',content='application')
        meta(name='msapplication-tap-highlight',content='no')
        meta(HTTP-EQUIV='pragma',content='no-cache')
        meta(HTTP-EQUIV='Cache-Control',content='no-cache')
        link(rel="stylesheet" href="/common/css/common.css?v1.0")
        script(src='/common/js/tjdInit.js?rev=@@hash11')
        script(src='/common/js/jquery-1.8.3.min.js?rev=@@hash1')
        script(src='/common/js/iscroll-probe5.0.js?rev=@@hash1')
        script(src='/common/js/services.js?rev=@@hash1')
        script(src='/common/js/common.js?rev=@@hash11')
        script(src='/common/js/vue.js?rev=@@hash1')
        script(src='/common/js/tjd/prototypeUtils.js?rev=@@hash1')
        script(src='/common/js/tjd/tjdVueComponent.js?rev=@@hash1')
        script(src='/common/js/tjd/tjd_modal.js?rev=@@hash1')


    body
        block content