body{
    background: black;
}
@keyframes rotate-frame {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    10% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    20% {
        transform: rotateX(-180deg) rotateY(180deg);
    }
    30% {
        transform: rotateX(-360deg) rotateY(180deg);
    }
    40% {
        transform: rotateX(-360deg) rotateY(360deg) ;
    }
    50% {
        transform: rotateX(-180deg) rotateY(360deg) ;
    }
    60% {
        transform: rotateX(90deg) rotateY(180deg)  ;
    }
    70% {
        transform: rotateX(0) rotateY(180deg)  ;
    }
    80% {
        transform: rotateX(90deg) rotateY(90deg) ;
    }
    90% {
        transform: rotateX(90deg) rotateY(0) ;
    }
    100% {
        transform: rotateX(0) rotateY(0)  ;
    }
}
.my-container {
    width: 200px;
    height: 200px;
    margin: 8em auto;
}
.rect-wrap {
    position: relative;
    perspective: 500px;
}
.container {
    background: green;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0px;
    animation: rotate-frame 40s linear infinite;
}
.slide {
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    line-height: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9) inset;
    background: pink;
}
.top {
    top: -100px;
    background: yellow;
    transform: rotateX(90deg);
    background: url(images/p1.JPG) no-repeat;
    background-size: 100% 100%;
}
.bottom {
    top: 100px;
    transform: rotateX(-90deg);
    background: url(images/p2.JPG) no-repeat;
    background-size: 100% 100%;
}
.left {
    left: -100px;
    transform: rotateY(-90deg);
    background: url(images/p3.JPG) no-repeat;
    background-size: 100% 100%;
}
.right {
    left: 100px;
    transform: rotateY(90deg);
    background: url(images/p4.JPG) no-repeat;
    background-size: 100% 100%;
}
.front {
    transform: translateZ(100px);
    background: url(images/p5.JPG) no-repeat;
    background-size: 100% 100%;
}
.back {
    transform: translateZ(-100px);
    background: url(images/p6.JPG) no-repeat;
    background-size: 100% 100%;
}
.wordsP{
    position: absolute;
    bottom: 5em;
    width: 100%;
    text-align: center;
    height: 100px;
}
.words{
    bottom:5em;
    text-align: center;
    text-shadow:5px 5px 5px red;
    color:#FFF;
    font-size: 1.6em;
    padding-left:0.2em;
}