extends ../layout
block content
    link(rel="stylesheet" href="/css/newcenter/newcenter2.css?v1.0")
    tjd-modal
    section#wrapper.app
        div#content
            article.top
                dl.pic
                    dt
                        img.userImg(:src="userInfo.userImg")
                    dd
                        p.phone(v-text="userInfo.phone")
            article.wallet
                dl(v-on:touchend="go2Balance()")
                    dt 余额
                    dd
                        span(v-text="userInfo.realBalance|currency ''")
                        span &nbsp;元
                dl(v-on:touchend="go2Credit()")
                    dt 信用
                    dd
                        span(v-text="userInfo.creditLine|currency ''")
                        span &nbsp;&nbsp;元
                dl(v-on:touchend="go2Coupon()")
                    dt 停车券
                    dd
                        span(v-text="userInfo.luckyMoneyCount")
                        span &nbsp;&nbsp;张
                dl(v-on:touchend="go2Score()")
                    dt 积分
                    dd
                        span(v-text="userInfo.score")
                        span &nbsp;&nbsp;分
            ul.main
                a(href='Automatic.html?hash')
                    li.sink
                        img(src='/images/center/zdfk.png')
                        span &nbsp;自动付款
                a(href='activity.html?hash')
                    li.sink
                        img(src='/images/center/documentactivity.png')
                        span &nbsp;活动
                a(href='../monthlyPayment/tingcefwb.html')
                    li.sink
                        img(src='/images/center/list_pro_stop.png')
                        span &nbsp;停车服务包
                a(href='../peccancy/peccancy.html')
                    li.sink
                        img(src='/images/peccancy/list_pro_search.png')
                        span &nbsp;违章查询
                a(href='helpCenter.html')
                    li.sink
                        img(src='/images/center/helpcenter.png')
                        span &nbsp;帮助中心
                a(href='download.html')
                    li.sink
                        img(src='/images/center/down.png')
                        span &nbsp;APP下载
                a(href='about.html')
                    li.sink
                        img(src='/images/center/about.png')
                        span &nbsp;关于我们
            p.center_jcbd(v-on:click="unbindPhone()") 解除账号绑定
            br
    footer
    script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js?')
    script(src='/js/newcenter/center.js?rev=@@hash1')